params {

   genomes {

	'hg38' {
		fasta = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta"
		bwa2_index = "${gatk_bundle_path}/hg38/bwa2/Homo_sapiens_assembly38.fasta"
        fai = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.fai"
    	fastagz = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.gz"
        gzi = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.gz.gzi"
        gzfai = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.fasta.gz.fai"
        dict = "${gatk_bundle_path}/hg38/Homo_sapiens_assembly38.dict"
        dbsnp = "${gatk_bundle_path}/hg38/dbsnp_146.hg38.vcf.gz"
	}  
    'hg19' {
        fasta = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta"
		bwa2_index =  "${gatk_bundle_path}/hg19/bwa2/ucsc.hg19.fasta"
		fai = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.fai"
		fastagz = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.gz"
		gzfai = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.gz.fai"
		gzi = "${gatk_bundle_path}/hg19/ucsc.hg19.fasta.gz.gzi"
        dict = "${gatk_bundle_path}/hg19/ucsc.hg19.dict"
        dbsnp = "${gatk_bundle_path}/hg19/dbsnp_138.hg19.vcf.gz"
    }
	'GRCh38' {
		fasta = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa"		
		bwa2_index = "${gatk_bundle_path}/hg38_no_alt/bwa2/Homo_sapiens_GRCh38_no_alts.fa"
        fai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.fai"
        fastagz = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz"
        gzi = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.gzi"
        gzfai = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.fa.gz.fai"
		dict = "${gatk_bundle_path}/hg38_no_alt/Homo_sapiens_GRCh38_no_alts.dict"
		dbsnp = "${gatk_bundle_path}/hg38_no_alt/dbsnp_146.hg38.vcf.gz"
	}
	'GRCh38_p14' {
        fasta = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa"
        mmi = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.mmi"
        bwa2_index = "${gatk_bundle_path}/hg38_no_alt_p14/bwa2/Homo_sapiens_no_alt_p14.fa"
        fai = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.fai"
        fastagz = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.gz"
        gzi = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.gz.gzi"
        gzfai = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.fa.gz.fai"
        dict = "${gatk_bundle_path}/hg38_no_alt_p14/Homo_sapiens_no_alt_p14.dict"
        dbsnp = "${gatk_bundle_path}/hg38_no_alt_p14/dbsnp_146.hg38.vcf.gz"
        bed = "${gatk_bundle_path}/hg38_no_alt_p14/wgs_calling_regions.hg38.bed"
        mitochondrion = "chrM"
        tandem_repeats = "${baseDir}/assets/sv/hg38/human_GRCh38_no_alt_analysis_set.trf.bed"
        cnv_annotation = "${baseDir}/assets/cnvkit/hg38/refFlat.txt.gz"
        cnv_mappable = "${baseDir}/assets/cnvkit/hg38/hg38.mappable.bed.gz"
        cnv_blacklist = "${baseDir}/assets/cnvkit/hg38/hg38.blacklist.bed"
        cnv_exclusion = "${baseDir}/assets/cnvkit/hg38/hg38.encode_exclusion_list.bed"

    }        
    'GRCh37' {
        fasta = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta"
		bwa2_index = "${gatk_bundle_path}/b37/bwa2/human_g1k_v37_decoy.fasta"
		fai = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.fai"
        fastagz = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz"
        gzfai = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.fai"
        gzi = "${gatk_bundle_path}/b37/human_g1k_v37_decoy.fasta.gz.gzi"
        dict = "${gatk_bundle_path}/b37/human_g1k_v37.clean.dict"
        dbsnp = "${gatk_bundle_path}/b37/dbsnp_138.b37.vcf.gz"
    }
        
  }
  
}
